.menuBox {
    z-index: 999;
    width: 100vw;
    height: 80px;
    display: flex;
    background-color: rgba(var(--color-primary-rgb), 0.5);
    position: fixed;
    border-bottom: 1px solid rgba(var(--color-primary-rgb), 0.8);
    transition: background-color 0.3s ease;
}

.menuBox.scrolled {
    background-color: rgba(var(--color-primary-rgb), 1);
}

@media screen and (max-width: 1080px) {
    .menuBox {
        height: 60px;
    }
}

.menuLogo {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0% 3%;
    text-align: center;
    line-height: 80px;
}
.menuLogo a {
    font-family: "Dancing Script", cursive;
    font-size: 36px;
    color: #f2f2f2;
    text-shadow: 3px 3px 1px #594a3c;
}
@media screen and (max-width: 1080px) {
    .menuLogo {
        line-height: 60px;
    }
}
