.map {
    width: 80vw;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}
.map iframe {
    width: 100%;
}

.root {
    display: block;
    width: 60%;
    min-width: 480px;
    margin: 0 auto;
    padding: 3%;
}
@media screen and (max-width: 768px) {
    .root {
        width: 80%;
        min-width: 0px;
        margin: 0 auto;
        padding: 3%;
    }
}
.root p {
    padding: 3%;
    margin: 3% 0;
}
.root p:nth-child(1) {
    background-color: rgba(184, 217, 115, 0.1);
}
.root p:nth-child(2) {
    background-color: rgba(140, 126, 114, 0.1);
}
