.wrapper {
    display: flex;
    max-width: 480px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto 24px;
}

.text {
    margin: 8px auto;
}
@media screen and (max-width: 768px) {
    .text {
        width: 100%;
    }
}
.button {
    display: flex;
    justify-content: center;
}