.button {
    display: block;
    text-align: center;
    width: 30%;
    max-width: 360px;
    min-width: 300px;
    padding: 1.6% 0.4%;
    background: rgba(var(--color-primary-rgb), 0.1);
}
.button:hover {
    background: rgba(var(--color-primary-rgb), 0.5);
}
.topPage {
    margin: 0 auto;
}
