.topSection {
    margin-bottom: 64px;
}

.topSectionTitle {
    font-family: "Cinzel", serif;
    font-size: 32px;
    color: #594a3c;
    text-shadow: 1px 1px 1px #594a3c;
    text-align: center;
    padding: 24px 0;
}

.charmBox {
    display: flex;
}
@media screen and (max-width: 768px) {
    .charmBox {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}

.charm {
    display: block;
    width: 50%;
    padding: 2.5%;
}
@media screen and (max-width: 768px) {
    .charm {
        width: 100%;
    }
}
.charmImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
}
.charmText {
    padding: 8px;
}
.photoBox {
    display: flex;
    max-width: 480px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.photoBox_text {
    margin: 8px auto;
}
@media screen and (max-width: 768px) {
    .photoBox_text {
        width: 100%;
    }
}

.swiper-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 32px;
}

.swiper-slide img {
    height: auto;
    width: 100%;
}

.swiper-arrow-button::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
}

.swiper-button-prev {
    left: -33px;
}

.swiper-button-next {
    right: -33px;
}

.swiper-button-prev::after {
    border-right: 20px solid #333;
    border-left: 0;
}

.swiper-button-next::after {
    border-left: 20px solid #333;
    border-right: 0;
}

.newsBox {
    display: block;
    width: 100vw;
}
.newsBox a {
    display: block;
    text-align: center;
    width: 33vw;
    max-width: 360px;
    min-width: 180px;
    padding: 2% 0;
    margin: 0 auto;
    background-color: rgba(136, 166, 73, 0.1);
}
.newsBox a:hover {
    background-color: rgba(136, 166, 73, 0.5);
}

.articleBox {
    width: 80%;
    margin: 32px auto;
}

.article {
    display: flex;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 2px 0;
    border-bottom: 1px solid #8c7e72;
}
.article:first-child {
    border-top: 1px solid #8c7e72;
}
.article_date {
    width: 30%;
    text-align: center;
    line-height: 1.4;
}
.article_title {
    width: 70%;
    line-height: 1.4;
}

.fa-chevron-right {
    padding-right: 1vw;
}
.newsList{
    margin-bottom: 32px;
}
.button{
    display: flex;
    justify-content: center;
}