.pcMenu {
    height: 100%;
    position: absolute;
    top: 0%;
    right: 3%;
    text-align: center;
    color: #f2f2f2;
    text-shadow: 1px 1px 1px #f2f2f2;
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    .pcMenu {
        display: none;
    }
}
.pcMenu ul {
    display: flex;
    height: 100%;
}
.pcMenu ul li {
    height: 100%;
    color: #f2f2f2;
    text-shadow: 3px 3px 1px #594a3c;
    font-size: 20px;
}
.pcMenu ul li a {
    display: inline-block;
    height: 100%;
    padding: 0 1em;
    align-content: center;
}
