.form {
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
@media screen and (max-width: 768px) {
    .form {
        max-width: 420px;
    }
}

.formItem {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
    .formItem {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
    }
}
.formItemName{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2em;
}
@media screen and (max-width: 768px){
    .formItemName{
        display: block;
    }
}

.formItemLabel {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    .formItemLabel {
        display: flex;
        max-width: inherit;
        align-items: center;
        font-size: 15px;
    }
}

.formItemLabelRequired {
    display: inline-block;
    width: 48px;
    margin-left: 1em;
    padding: 4px;
    border-radius: 0px;
    background: rgba(89, 74, 60, 0.5);
    color: #f2f2f2;
    font-size: 14px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .formItemLabelRequired {
        width: 32px;
        font-size: 10px;
    }
}

.formItemInput {
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding-left: 1em;
    padding-right: 1em;
    background: rgba(140, 126, 114, 0.1);
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    .formItemInput {
        height: 40px;
        margin-left: 0;
        margin-top: 18px;
        font-size: 15px;
    }
}

.formItemTextarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 1em;
    height: 216px;
    background: rgba(140, 126, 114, 0.1);
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    .formItemTextarea {
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
    }
}

.formBtn {
    display: block;
    width: 280px;
    border-radius: 0px;
    margin: 32px auto 0;
    padding: 20px 0;
    letter-spacing: 0.05em;
    background: rgba(89, 74, 60, 0.5);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .formBtn {
        margin-top: 24px;
        padding: 8px 0;
        width: 160px;
        font-size: 16px;
    }
}

.error {
    margin: 1em 0;
    font-size: 16px;
    line-height: 18px;
    color: red;
    text-shadow: #000 1px 1px;
    text-align: center;
}