.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.roomList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 72px;
    gap: 32px;
}
@media (max-width: 768px) {
    .roomList {
        display: block;
        gap: 0;
    }
}
.roomListInner {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.image{
    margin-bottom: 16px;
    text-align: center;
}
.name {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .name {
        margin-bottom: 16px;
    }
}
.infoTable {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #333;
}
.infoTable tr {
    display: grid;
    grid-template-columns: 4fr 6fr;
}
.infoTable th,
.infoTable td {
    padding: 8px;
    border: 1px solid #333;
}
